.background {
    -fx-background-color: #1d1d1d;
}

.text {
	-fx-text-fill: white;
}

.barreDeVie{
	-fx-border-color: #e2e2e2;
	-fx-border-width: 2;
}

.carteEquipement{
	-fx-border-color: #e2e2e2;
	-fx-border-width: 2;
}

.lieux{
	-fx-border-color: #e2e2e2;
	-fx-border-width: 2;
}

.bouton {
	-fx-border-color: #e2e2e2;
	-fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}